In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Grouping").getOrCreate()

In [7]:
df = spark.read.csv("sales_info.csv", inferSchema=True, header=True)

In [8]:
###### to get the count
df.count()

12

In [9]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [10]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [11]:
#### groupBy return a grouped object
df.groupBy("Comapany")

GroupedData[grouping expressions: [Comapany], value: [Company: string, Person: string ... 1 more field], type: GroupBy]

In [14]:
##### To get mean of sales
df.groupBy("Company").mean("Sales").show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [16]:
### Other functions available are sum, min, max

df.groupBy("Company").sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [17]:
df.groupBy("Company").min().show()

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

In [18]:
## Just to get sum of Sales column we can use agg function

df.agg({"Sales":"sum"}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [21]:
###Agg can be applied to group by column as well

grouped_by_company = df.groupBy("Company")

grouped_by_company.agg({"Sales":"min"}).show()

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

In [22]:
## Using functions in pyspark

from pyspark.sql.functions import count_distinct, avg, min, stddev

df.select(count_distinct("Sales")).show()

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                   11|
+---------------------+

In [24]:
### To get mean

df.select(avg("Sales")).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [40]:
### To rename column we can use alias eample

df.select(min("Sales").alias("minimum_sales")).show()

+-------------+
|minimum_sales|
+-------------+
|        120.0|
+-------------+

In [29]:
from pyspark.sql.functions import format_number, round

In [41]:
std_dev_sales = df.select(stddev("Sales").alias("std_sales"))

In [43]:
std_dev_sales.show()

+------------------+
|         std_sales|
+------------------+
|250.08742410799007|
+------------------+

In [44]:
std_dev_sales_formated = std_dev_sales.select(format_number("std_sales",2).alias("formated_std_dev_sales"))

In [46]:
std_dev_sales_formated.show()

+---------------------------+
|format_number(std_sales, 2)|
+---------------------------+
|                     250.09|
+---------------------------+

In [48]:
##orderBy to order columns
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [50]:
## TO order by a column in descending order

df.orderBy(df["Sales"].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

In [51]:
spark.stop()