In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("missing_data").getOrCreate()

In [6]:
df = spark.read.csv("ContainsNull.csv", inferSchema=True, header=True)

In [7]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [8]:
### To drop all null values
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [12]:
## we can pass thres so that any row which has non null value less than thres will droped
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [14]:
## We can also specify how

df.na.drop(how='any').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [15]:
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| NULL|
|emp2| NULL| NULL|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [16]:
## fill is use to fill the null values
## if we give String values it fills the string column
df.na.fill('Shubhank').show()

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| NULL|
|emp2|Shubhank| NULL|
|emp3|Shubhank|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

In [17]:
## If we pass 0 then is fill the numeric null values

df.na.fill(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| NULL|  0.0|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [20]:
## to fill a  subset of columns
df.na.fill('Shubhank', subset=['Name']).show()

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| NULL|
|emp2|Shubhank| NULL|
|emp3|Shubhank|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

In [30]:
df.agg({'Sales':'avg'}).collect()[0][0]

400.5

In [32]:
## to fill na with avg

df.na.fill(df.agg({'Sales':'avg'}).collect()[0][0], subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| NULL|400.5|
|emp3| NULL|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [33]:
spark.stop()