In [10]:
import os
import pandas as pd

In [3]:
os.getcwd()

'/home/jovyan/work'

In [6]:
from pyspark.sql import SparkSession

In [48]:
spark = SparkSession.builder.appName("first_app").getOrCreate()

In [8]:
### To read json
df = spark.read.json("people.json")

In [9]:
### To show the dataFrame
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [13]:
## to get schema of a dataFrame
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [14]:
#### to get a list of all columns
df.columns

['age', 'name']

In [16]:
### to describe all fieds in the DataFrame
df.describe()

DataFrame[summary: string, age: string, name: string]

In [17]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [19]:
 from pyspark.sql.types import (StructField, StringType, 
                                IntegerType, StructType)

In [22]:
data_schema = [ StructField('age', IntegerType(), True),
                StructField('name', StringType(), True) ]

In [26]:
final_struc = StructType(fields = data_schema)

In [50]:
df = spark.read.json("people.json", schema=final_struc)

In [51]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [52]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [30]:
spark.stop()

In [54]:
type(df['age'])

pyspark.sql.column.Column

In [58]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [59]:
df.select('age', 'name').show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [62]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [64]:
###### to create a column from an existing column
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [65]:
df.withColumn('doubleAge', df['age']*2 ).show()

+----+-------+---------+
| age|   name|doubleAge|
+----+-------+---------+
|NULL|Michael|     NULL|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [66]:
df.withColumnRenamed('age', 'myNewAge').show()

+--------+-------+
|myNewAge|   name|
+--------+-------+
|    NULL|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [67]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [68]:
df.createOrReplaceTempView('people')

In [70]:
results = spark.sql('select *, 1 as id from people')

In [71]:
results.show()

+----+-------+---+
| age|   name| id|
+----+-------+---+
|NULL|Michael|  1|
|  30|   Andy|  1|
|  19| Justin|  1|
+----+-------+---+

In [72]:
results2 = spark.sql('select cast(age as long), name from people')

In [75]:
results2.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [77]:
spark.stop()

In [79]:
type(results2)

pyspark.sql.dataframe.DataFrame

In [80]:
type(df)

pyspark.sql.dataframe.DataFrame